page-tabs {
    .tabs .tabbar {
        height: 65px;
        background: #f28c5d;
    }
    a#tab-t0-0 {
        border-right: 1px solid #808080;
    }
    .tabs .tab-button[aria-selected=true] .tab-button-icon {
        color: #fff;
    }
    .tabs .tab-button[aria-selected=true] {
        color: #fff;
    }
    // .tab-button-text {
    //     margin-top: 3px;
    //     margin-bottom: 4px;
    // }
}
