<!--
  Generated template for the MusicsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="headerShadow">

    <ion-navbar>
        <ion-title style="color:azure">Cinemas</ion-title>
    </ion-navbar>

</ion-header>
<ion-content padding>
    <ion-list>
        <div class="animated fadeInUp" *ngFor="let d of data; let i = index" (click)="toggleDetails(d,i)">
            <ion-card class="cardCurve">
                <ion-row>
                    <img class="cinemaImage" [src]="d.image" alt="Cinemas Image" nopadding>
                    <h4 class="cinemaName">{{ d.multiplex }}</h4>
                    <ion-icon class="dropDown" color="danger" item-right [name]="d.icon"></ion-icon>
                </ion-row>
                <div class="animated fadeInUp" *ngIf="d.showDetails">
                    <a class="coralColor" *ngFor="let col of d.cinema;" (click)='cinemaPage(col._id, d.multiplex)'>
                        <ul>
                            <li>
                                <ion-row>
                                    <ion-item class="item-color">
                                        {{col.cinemaName}}
                                        <ion-icon class="dropRight" item-right name="ios-arrow-forward-outline"></ion-icon>
                                    </ion-item>
                                </ion-row>
                            </li>
                        </ul>
                    </a>
                </div>
            </ion-card>
        </div>
    </ion-list>
</ion-content>