<!--
  Generated template for the OffersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar class="headerShadow">
        <ion-title style="color: white;">Ticket Offers</ion-title> <br>
        <ion-searchbar class="search" type="text" [(ngModel)]="queryString" placeholder="Search Offers"></ion-searchbar>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <!-- <button ion-button (click)="animateElem()">Animate it!</button>
    <ion-card #myElement>
        <ion-card-header>My Animation Card</ion-card-header>
        <ion-card-content>So much awesome content and animations. AMAZING!</ion-card-content>
    </ion-card> -->
    <ion-list>
        <div class="animated slideInUp" *ngFor="let item of data | FilterPipe: queryString; let i = index" (click)="toggleDetails(item, i)" nopadding>
            <ion-card class="cardCurve" *ngIf="item.offer.title" nopadding>
                <div nopadding>
                    <ion-row padding>
                        <ion-col>
                            <h5 *ngIf="item.offer.multiplexId == 6"><strong>VOX Cinemas</strong></h5>
                            <h5 *ngIf="item.offer.multiplexId == 8"><strong>NOVO Cinemas</strong></h5>
                            <h5 *ngIf="item.offer.multiplexId == 7"><strong>ROXY Cinemas</strong></h5>
                            <h5 *ngIf="item.offer.multiplexId == 9"><strong>REEL Cinemas</strong></h5>
                            <h5 *ngIf="item.offer.multiplexId == 10"><strong>CINEROYAL Cinemas</strong></h5>
                            <h5 *ngIf="item.offer.multiplexId == 11"><strong>Oscar Cinemas</strong></h5>
                            <h5 *ngIf="item.offer.multiplexId == 12"><strong>Star Cinemas</strong></h5>
                            <h5 *ngIf="item.offer.multiplexId == 13"><strong>Cinema City Cinemas</strong></h5>
                            <p class="subTitle">{{ item.offer.title }}</p>
                        </ion-col>
                        <ion-icon color="danger" item-right [name]="item.icon" width="100%"></ion-icon>
                    </ion-row>
                    <div class="lineHeight" *ngIf="item.showDetails" (click)="openOfferSite(item.offer.url)" nopadding>
                        <object data="http://stackoverflow.com/does-not-exist.png" type="image/png">
                  <img *ngIf="item.offer.image" src="http://uaeshowtimes.com{{item.offer.image}}" alt="Offer Image">
                </object>
                        <div class="htmlContent" [innerHtml]="item.offer.htmlData"></div>
                    </div>
                </div>
            </ion-card>
        </div>
    </ion-list>
</ion-content>