page-movies {
    .searchbar-md .searchbar-input {
        padding: 6px 55px;
        border-radius: 12px;
        background-position: left 8px center;
        height: auto;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 3rem;
        color: #5B5B5B;
        background-color: #ffffff14;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .select-md {
        /* height: unset; */
        width: 25%;
        padding: 6px 14px;
        margin: auto;
        border-radius: 12px;
        background-position: left 8px center;
        height: auto;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 3rem;
        color: #5B5B5B;
        background-color: #ffffff14;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .select-ios {
        /* height: unset; */
        width: 25%;
        padding: 1px 14px;
        margin: auto;
        border-radius: 3px;
        background-position: left 8px center;
        height: auto;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 3rem;
        color: rgba(0, 0, 0, 0.5);
        background: rgba(0, 0, 0, 0.08);
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .item ion-thumbnail img {
        width: 105px;
        height: 137px;
    }
    .toolbar-content.toolbar-content-ios .searchSort {
        margin-top: 2%;
    }
    .toolbar-background {
        background: none;
    }
    .toolbar-title {
        color: #fff;
    }
    .toolbar-title-ios {
        text-align: center;
        font-size: 1.7rem;
        font-weight: 600;
        color: white;
        pointer-events: auto;
        margin-bottom: 16%;
    }
    ion-navbar.toolbar {
        text-align: center;
    }
    .header .toolbar-background,
    .footer .toolbar-background {
        border-style: none;
        border-color: transparent;
    }
    .header-md::after,
    .tabs-md[tabsPlacement="top"]>.tabbar::after,
    .footer-md::before,
    .tabs-md[tabsPlacement="bottom"]>.tabbar::before {
        background-image: unset;
    }
    .content {
        color: #000;
        // background-color: #f0f1f4;
        background: linear-gradient(168deg, #f28c5d 24%, #f0f1f4 24.3%);
    }
    .item h2 {
        white-space: pre-wrap;
    }
    .item {
        padding-left: 0px;
    }
    .item ion-thumbnail ion-img,
    .item ion-thumbnail img {
        width: 90px;
        height: 126px;
    }
    .item h2 {
        font-size: 14px;
    }
    [padding] h1:first-child,
    [padding] h2:first-child,
    [padding] h3:first-child,
    [padding] h4:first-child,
    [padding] h5:first-child,
    [padding] h6:first-child {
        margin-top: 0rem;
    }
    .item p {
        font-size: 12px;
    }
    .label {
        margin: 0;
    }
    .imageCurve {
        border-radius: 6px;
    }
    .cardCurve {
        padding: 0;
        border-radius: 6px;
        width: 100%;
        margin: 0 0 14px 0;
        -webkit-box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.3);
    }
    .sort {
        height: unset;
        width: 25%;
    }
    .sort button {
        height: unset;
    }
    .search {
        width: 65%;
    }
    .headerShadow {
        -webkit-box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.3);
    }
}